name: Sync Modrinth Releases to Discord Channel

on:
    #schedule:
    #    - cron: "0/30 * * * *"
    workflow_dispatch:
        # No configuration needed, just makes the workflow manually triggerable from the Actions tab on GitHub

jobs:
    sync-modrinth-to-discord:
        runs-on: ubuntu-latest

        # The job only needs read access to repository contents, such as repository variables and secrets.
        permissions:
            contents: read

        env:
            MODRINTH_LIST_ALL_VERSIONS_ENDPOINT: "https://api.modrinth.com/v2/project/ainforge/version"
            

        steps:
            # Install jq for JSON processing
            - name: Install jq
              run: sudo apt-get update && sudo apt-get install -y jq

            # Output: File 'versions.json' containing the list of all Modrinth versions
            - name: Fetch Modrinth Versions
              run: curl -fsSL "$MODRINTH_LIST_ALL_VERSIONS_ENDPOINT" -o versions.json

            # Output: File 'current_versions.json' containing the list of versions seen in the last run
            - name: Load Stored Versions
              run: echo "${{ vars.MODRINTH_VERSION_MESSAGES_JSON }}" > current_versions.json

            # Check if there are new versions since the last run
            # For that, compare the fetched versions file against a stored list in a repository variable
            - name: Check for new or updated versions
              run: |
                cat current_versions.json

                jq --slurpfile current_versions current_versions.json '
                    [
                        .[]
                        | { id, downloads }
                        | select(
                            ($current_versions[0] | has(.id) | not)
                            or
                            ($current_versions[0][.id].downloads != .downloads)
                        )
                    ]
                    ' versions.json > delta_versions.json

                cat delta_versions.json

            # Check if there are updated versions (e.g., increased download counts)
            #- name: Check for updated versions
            #  run:

            # For each new version, send a notification to the Discord channel via webhook
            #- name: Notify Discord of New Versions
            #  run:

            